@use "sass:color";
@use "./mixins" as *;
@use "./variables" as *;
@use "./theme" as *;
@use "./placeholders" as *;

@mixin text-style($align: start,
  $letter-spacing: 0,
  $word-spacing: 0,
  $line-height: 1.6) {
  text-align: $align;
  letter-spacing: $letter-spacing;
  word-spacing: $word-spacing;
  hyphens: auto;
  line-height: $line-height;
}

@mixin tech-hexagon-decoration() {
  &::before {
    @extend %pseudo-abs;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    clip-path: $clip-hexagon;
    background-color: var(--hexagon-bg-pseudo-before);
    z-index: -1;
  }

  &::after {
    @extend %pseudo-abs;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0px;
    transform: scaleY(0);
    transform-origin: bottom;
    background: linear-gradient(180deg, transparent, rgba(var(--color-black), 0.4));
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 0;
  }
}

@mixin tech-hexagon-shape() {
  @extend %flex-center;
  aspect-ratio: 1;
  clip-path: $clip-hexagon;
  position: relative;
  overflow: hidden;
  background-image: var(--gradient-accent);
  box-shadow: inset 3px 3px 6px rgba(var(--color-black), 0.4), inset -3px -3px 6px rgba(var(--color-white), 0.2);
  cursor: pointer;
  container-type: inline-size;
}

@mixin tech-hexagon-hover() {
  filter: brightness(1.2);
  box-shadow: inset 4px 4px 6px rgba(var(--color-black), 0.6), inset -2px -2px 6px rgba(var(--color-white), 0.4);
  transform: perspective(500px) rotateX(15deg) rotateY(15deg) scale(1.05);

  &::after {
    transform: scaleY(1);
    opacity: 1;
  }

  .technologies__label {
    transform: translateY(0%);
    opacity: 1;
  }
}

@mixin tech-hexagon-label() {
  @include padding-margin(0px, 0px);
  position: absolute;
  width: 75%;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.15;
  transform: translateY(250%);
  font-size: clamp(8.5px, 13cqi, 16px);
  font-weight: 500;
  color: rgb(var(--color-white));
  border-radius: calc($border-radius - 6px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1;

  &::before {
    @extend %pseudo-abs;
    inset: -4px;
    background-color: rgba(var(--color-black), 0.5);
    backdrop-filter: $blur;
    border-radius: inherit;
    z-index: -1;
  }
}