@use "./placeholders" as *;

@mixin timeline-marker($size, $color) {
    @extend %pseudo-abs;
    width: $size;
    height: $size;
    top: 0%;
    left: -8px;
    border: 2px solid var(--color-border);
    border-radius: 50%;
    background-image: $color;
    box-shadow: 0 0 8px 2px var(--color-accent);
    transform: translate(-50%, -50%);
}

@mixin section-text($margin, $color) {
    margin: $margin;
    color: $color;
}

@mixin flex-wrap-gap($gap) {
    @extend %flex-center;
    align-items: normal;
    column-gap: $gap;
    flex-wrap: wrap;
}

@mixin content-box($padding, $marginBottom, $borderWidth, $borderColor, $borderRadius) {
    padding: $padding;
    margin-bottom: $marginBottom;
    border: $borderWidth solid $borderColor;
    border-radius: $borderRadius;
}
