@use "sass:color";
// Tipografía
$font-main: "Roboto Mono", serif;
$font-bold: 600;
$icon-size: 16px;
$icon-weight: 600;

// Escala de font-size
$fs-miniSmall: clamp(12px, 2.5vw, 16px);
$fs-small: clamp(14px, 2vw, 16px);
$fs-medium: clamp(16px, 2vw, 18px);
$fs-large: clamp(16px, 2vw, 22px);
$fs-xlarge: clamp(18px, 2vw, 24px);

// Escala de padding y margin
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 16px;
$spacing-xl: 24px;
$spacing-xxl: 32px;
$spacing-xxxl: 40px;
$spacing-jumbo: 48px;

// Clip-path en forma de hexágono para listas de ítems y sus pseudoelementos ::before
$clip-hexagon: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

//variable general usada en diferentes elementos
$border-radius: 10px;

// Filtro de desenfoque aplicado al fondo de la barra de navegación para lograr un efecto de transparencia suave.
$blur: blur(5px);
