@use "../utils/mixins" as *;
@use "../utils/variables" as *;
@use "../utils/theme" as *;
@use "../utils/mixinTech" as *;
@use "../utils/placeholders" as *;

.about-me {
  @extend %flex-center;
  @extend %flex-column-base;
  min-height: 45vh;

  &__content, &__image{
        @extend %section-subblock;
  }

  &__content {
    @extend %text-format-base;

    h2,
    h3,
    p {
      @extend %header-text-spacing;
    }

    .about-me__title {
      @extend %section-subtitle;
    }
    .about-me__name {
      @extend %section-subtitle-light;
    }
    .about-me__text {
      @extend %section-paragraph-default;
    }

    .about-me__highlight-title {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.07em;
      color: var(--highlight-title-color);
    }

    .about-me__highlight-text {
      border-radius: calc($border-radius - 6px);
      background-image: var(--highlight-bg);
      color: var(--highlight-text-color);
    }
  }

  &__image {
    @extend %flex-center;
    margin: 0px;

    .about-me__photo-wrapper{
      display: inline-block;
      width: 100%;
      max-width: clamp(210px, 65%, 280px);
      perspective: 1000px;
      transform-style: preserve-3d;
      cursor: pointer;
      
      &:hover .about-me__photo {
        transform: rotateY(0deg) rotateX(0deg) scale(1.1);
        box-shadow: var(--img-shadow-hover);
      }
    }

    .about-me__photo {
      width: 100%;
      height: auto;
      margin: 0px;
      object-fit: cover;
      border-radius: calc($border-radius + 5px);
      transform: rotateY(-10deg) rotateX(10deg) scale(1.05);
      box-shadow: var(--img-shadow);
      transition: transform 0.4s ease-out, box-shadow 0.4s ease-out;
    }
  }
}

@media screen and (min-width: 720px) {
  .about-me {
    flex-direction: row;

    &__content,
    &__image {
      width: 50%;
      padding: $spacing-md clamp(15px, 2.5vw, 25px);
    }
    
    &__image .about-me__photo{
      max-width: clamp(280px, 75%, 300px);
    }
  }
}

@media screen and (min-width: 1020px) {
  .about-me {
    .about-me__content,
    .about-me__image {
      padding: $spacing-md clamp(25px, 2.5vw, 35px);
    }
  }
}
