@use "../utils/mixins" as *;
@use "../utils/variables" as *;
@use "../utils/mixinTech" as *;
@use "../utils/placeholders" as *;

.contact {
  @extend %flex-center;
  @extend %flex-column-base;
  padding: initial;
  min-height: 100svh;
  overflow: hidden;

  &__header,
  &__content {
    @extend %section-subblock;
  }

  &__content{
    width: initial;

    .contact__list{
      @extend %list-container-flex;
    }
  }

  &__header-subtitle,
  &__header-title {
    @extend %header-text-spacing;
  }

  &__header {
    @extend %text-format-base;
    max-width: 85vw;
    transition: width 0.6s ease-in-out;

    &-subtitle {
      @include font(clamp(25px, 5vw, 35px), 900);
      text-align: center;
      color: $color-white;
    }

    &-title {
      @include font(clamp(45px, 8.5vw, 55px), 900);
      font-family: '"Merriweather", serif';
      text-align: center;
      word-break: break-word;
      color: $color-text;
    }

    &-description {
      margin: $spacing-md calc($spacing-md - 6px);
      line-height: clamp(25px, 3.5vw, 32px);
      @extend %section-paragraph-default;
    }
  }

  &__list-item {
    @include padding-margin($spacing-xs, 0px $spacing-sm);
    list-style: none;
    position: relative;

    .contact__link {
      @extend %link-list-item;
    }
    .email-tooltip{
      @extend %tooltip-style;
    }
  }
}