@use "../utils/mixins" as *;
@use "../utils/variables" as *;
@use "../utils/theme" as *;
@use "../utils/mixinTech" as *;
@use "../utils/placeholders" as *;

.footer {
  @extend %flex-center;
  @extend %text-format-base;
  @include box-style($spacing-lg, $border-radius $border-radius 0 0);
  align-items: initial;
  text-align: center;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: $fs-small;
  margin: 0px $spacing-md;
  position: relative;
  z-index: 2;
  min-height: 180px;
  background-color: rgba(var(--color-white), 0.08);
  box-shadow: 0 8px 32px 0 var(--color-shadow);
  backdrop-filter: saturate(1.2);
  border-top: 1px solid transparent;

  &__text,
  &__social-link {
    color: var(--color-accent);
    opacity: 0.8;
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__info,
  &__social {
    padding: $spacing-md $spacing-xxl;
  }

  &__social {
    @extend %flex-center;
    gap: $spacing-md;

    &-link {
      text-decoration: none;

      &:hover {
        transform: translateY(-3px);
      }

      i {
        @include font($icon-size, $icon-weight);
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .footer {
    border-radius: 0;
    margin: 0px;
    align-items: center;
  }
}

@media screen and (min-width: $bp-xl) {
  .footer {
    font-size: clamp(16px, 1.5vw, 22px);
    min-height: 220px;

    &__social {
      gap: $spacing-xl;

      &-link i {
        font-size: clamp(26px, 2vw, 32px);
      }
    }
  }
}

@media screen and (min-width: $bp-xxl) {
  .footer {
    font-size: clamp(22px, 1.8vw, 32px);
    min-height: 280px;

    &__social {
      gap: $spacing-xxl;

      &-link i {
        font-size: clamp(32px, 2.5vw, 45px);
      }
    }
  }
}