@use "../utils/mixins" as *;
@use "../utils/variables" as *;
@use "../utils/mixinTech" as *;
@use "../utils/placeholders" as *;

.technologies {
  @extend %flex-center;
  @extend %flex-column-base;
  min-height: 70vh;

  &__header,
  &__content {
    @extend %section-subblock;
  }

  &__nav {
    @include padding-margin($spacing-sm, 0 auto);
    position: relative;
    width: 300px;
    max-width: 900px;
    border-radius: $border-radius;
    overflow-x: auto;
    background-color: var(--bg-links-list);

    .technologies__menu {
      @extend %flex-center;
      flex-wrap: nowrap;
      gap: 15px;
      min-width: max-content;
      @include padding-margin($spacing-xs $spacing-sm, 0);
      list-style: none;

      &-btn {
        @extend %flex-center;
        display: inline-flex;
        border: none;
        padding: $spacing-sm $spacing-md;
        color: var(--links-text-color);
        background-image: var(--bg-links-gradient);
        opacity: 0.8;
        border-radius: calc($border-radius - 5px);
        cursor: pointer;
        transition: transform 0.25s ease, filter 0.25s ease, opacity 0.25s ease;
        transform: scale(1); 
      }
      &-btn:hover {
        filter: brightness(1.1);
      }
      &-btn.is-active {
        opacity: 1;
        transform: scale(1.1);
        filter: brightness(1.15);
      }

      &-btn i{
        font-size: $icon-size;
        font-weight: $icon-weight;
        width: 20px;
        height: 16px;
      }
    }
  }

  &__header {
    @extend %text-format-base;

    .technologies__title,
    .technologies__subtitle,
    .technologies__description {
      @extend %header-text-spacing;
    }

    .technologies__title {
      @extend %section-subtitle;
    }
    .technologies__subtitle {
      @extend %section-subtitle-light;
    }

    .technologies__description {
      @extend %section-paragraph-default;
    }
  }

  &__list {
    @extend %flex-center;
    display: grid;
    @include padding-margin($spacing-xxxl $spacing-xxl, 0px auto);
    grid-template-columns: repeat(auto-fit, minmax(75px, 120px));
    gap: 5px;
    list-style: none;
  }

  &__item {
    @include tech-hexagon-shape();
    @include tech-hexagon-decoration();

    &:hover {
      @include tech-hexagon-hover();
    }

    .technologies__icon {
      width: calc(100% - clamp(32px, 4vw, 40px));
      max-width: calc(100% - 40%);
      object-fit: cover;
    }

    .technologies__label {
      @include tech-hexagon-label();
    }
  }
}

@media screen and (min-width: 720px) {
  .technologies {
    flex-direction: row;

    &__header,
    &__content {
      width: 50%;
      padding: $spacing-md clamp(15px, 2.5vw, 25px);
    }

    &__list {
      margin: 0 auto;
    }
  }
}

@media screen and (min-width: 1020px) {
  .technologies {
    &__header,
    &__content {
      padding: $spacing-md clamp(25px, 2.5vw, 35px);
    }
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(75px, 115px));
      padding: $spacing-xl $spacing-jumbo;
      gap: 7px;
    }
  }
}
