// Tipografía
$font-main: "Roboto Mono", serif;
$font-bold: 600;
$icon-size: 16px;
$icon-weight: 600;

// Escala de font-size
$fs-miniSmall: clamp(12px, 2.5vw, 16px);
$fs-small: clamp(14px, 2vw, 16px);
$fs-medium: clamp(16px, 2vw, 18px);
$fs-large: clamp(16px, 2vw, 22px);
$fs-xlarge: clamp(18px, 2vw, 24px);

// Escala de padding y margin
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 16px;
$spacing-xl: 24px;
$spacing-xxl: 32px;
$spacing-xxxl: 40px;
$spacing-jumbo: 48px;

// Paleta de colores base utilizada en distintas secciones y elementos de la web.
$color-primary: #073242;
$color-text: #4bd095;
$color-background-transparent: transparent;
$color-background-dark: #062C30;
$color-accent-teal: #2A9D8F;
$color-background-deep: #14313b;
$color-white: #ffffff;
$color-black: #000000;
$color-neutral: #cccccc;

//Color de fondo del body
$color-primary-light: lighten($color-primary, 5%);
$color-primary-dark: darken($color-primary, 5%);
$linear-gradient: linear-gradient(
  to right,
  $color-primary-light 0%,
  $color-primary 40%,
  $color-primary-dark 60%,
  $color-primary-light 100%
);

// Gradiente de fondo principal para listas de enlaces
$links-bg-gradient: linear-gradient(
    45deg,
    $color-text,
    darken($color-text, 10%),
    darken($color-text, 15%)
);

// Gradiente de fondo en estado hover para listas de enlaces
$links-bg-gradient-hover: linear-gradient(
    45deg,
    lighten($color-text, 5%),
    lighten($color-text, 10%),
    $color-text
);

// Clip-path en forma de hexágono para listas de ítems y sus pseudoelementos ::before
$clip-hexagon: polygon(
  50% 0%,
  100% 25%,
  100% 75%,
  50% 100%,
  0% 75%,
  0% 25%
);

// Variables para fondos, sombras y efectos de profundidad aplicados a hexágonos y contenedores.
// Se utilizan en elementos decorativos y al hacer hover para reforzar el efecto visual 3D.
$mixed-bg-pseudo: mix($color-white, $color-black, 6%);
$hexagon-shadow: 0px 8px 12px rgba(mix($color-white, $color-black, 25%), 0.3);
$hexagon-shadow-hover: 0px 12px 18px rgba(mix($color-white, $color-black, 25%), 0.5);
$box-shadow-inset: inset 3px 3px 6px rgba($color-black, 0.4),
  inset -3px -3px 6px rgba(mix($color-white, $color-black, 100%), 0.2);
$box-shadow-hover-inset: inset 5px 5px 8px rgba($color-black, 0.5),
  inset -5px -5px 8px rgba(mix($color-white, $color-black, 100%), 0.3);


//variable general usada en diferentes elementos
$border-radius: 10px;

// Filtro de desenfoque aplicado al fondo de la barra de navegación para lograr un efecto de transparencia suave.
$blur: blur(5px);

